<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{if .IsPage}}{{ .Params.Summary }}{{ else }}{{ if .Description }}{{ .Description }}{{ end }}{{ end }}">
    <meta name="author" content="zellux">
    {{ if .IsPage }}
    <meta name="keywords" content="{{ delimit .Keywords ", " }}{{ if .Params.categories }}, {{ delimit .Params.categories ", " }}{{ end }}{{ if .Params.tags }}, {{ delimit .Params.tags ", " }}{{ end }}">
    {{ end }}

    <title> {{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }} {{ end }}</title>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
    <script src="/js/jquery-3.0.47.fancybox.min.js"></script>

    <!-- CSS -->
    {{ $main_css := resources.Get "css/slim.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $main_css.Permalink }}">
    
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- RSS -->
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ partial "seo_schema" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    <div class="container">
