{{ partial "head.html" . }}

<div class="content index">
  <div class="posts">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}
    <div class="post">
      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ partial "post-meta.html" . }}
      {{ if .Site.Params.Summary }}
      <div class="summary">
        {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
	<a class="read-more" href="{{.RelPermalink}}">{{.Site.Params.continueReadingText}}</a>
      </div>
      {{ else if .Site.Params.Content }}
      <div class="content">
	{{ .Content }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</div>

{{ partial "footer.html" . }}
